<div style="height:60px"></div>
<img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1556492033/maqueta/sdfs4556764.jpg"
  style="height:270px;width:100%;object-fit:cover">

<div style="margin-top:10px;width:100%;display:flex;align-items:center;justify-content:center">
  <div style="border-radius:50%;height:7px;width:7px;background:#999;margin-right:5px"></div>
  <div style="border-radius:50%;height:7px;width:7px;background:#999;margin-right:5px"></div>
  <div style="border-radius:50%;height:7px;width:7px;background:#999;margin-right:5px"></div>

</div>

<div style="padding:15px;padding-bottom:25px">
  <div>
    <div style="display:inline-block;font-size:18px;font-weight:700;color:#ff6633">
      $15.000
    </div>
    <div
      style="display:inline-block;font-size:14px;color:white;font-weight:500;border-radius:2px;background:gold;padding:2px;margin-left:10px">
      -10%
    </div>
  </div>
  <div style="color:#999;font-size:14px">
    Precio normal $18.000
  </div>
  <div style="color:#444;font-weight:600;font-size:16px">
    Barba completa + Limpieza facial completa + Corte de pelo profesional
  </div>
  <div style="width:100%;display:flex;align-items:center;justify-content:space-between">
    <div style="font-size:14px;color:#999">
      Un texto
    </div>
    <div style="font-size:14px;color:#999">
      36 vendidos
    </div>
  </div>

  <!-- sandybrown -->
  <hr>
  <div
    style="width:100%;padding-left:20px;padding-right:15px;padding-top:0px;padding-bottom:0px;display:flex;align-items:center;justify-content:space-between">
    <div style="display:flex;align-items:center">
      <!-- <i class="far fa-comment-dots" style="font-size:22px;color:#07ef07;margin-right:5px"></i> -->
      <!-- <img src="assets/sleeping.svg" style="width:18px;margin-right:5px"> -->
      <i class="far fa-calendar-alt" style="font-size:20px;color:sandybrown;margin-right:5px"></i>

      <div style="margin-left:20px;color:#999;font-size:15.5px;overflow:hidden;height:20px">
        <!-- ¡Pide una reserva! -->
        Reservar
      </div>
    </div>
    <i class="fas fa-chevron-right" style="color:#bbb;font-size:15px"></i>
  </div>
</div>




<div style="width:100%;height:10px;background:whitesmoke">
</div>

<div style="padding:15px;padding-top:25px;padding-bottom:35px">

  <div style="width:100%;display:flex;align-items:center;justify-content:space-between">
    <div style="font-size:16px;color:#444;font-weight:600">
      Qué incluye
    </div>
    <i class="fas fa-chevron-down" style="margin-right:10px;color:#bbb;font-size:16px"></i>
  </div>
  <div style="color:#666;width:100%;font-size:14.5px">
    <div
      style="display:inline-block;margin-right:10px;margin-bottom:3px;height:6px;width:6px;background:#999;border-radius:50%">
    </div>
    Corte de cabello clásico o degrade
  </div>

  <div style="margin-top:20px;width:100%;display:flex;align-items:center;justify-content:space-between">
    <div style="font-size:16px;color:#444;font-weight:600">
      Notas
    </div>
    <i class="fas fa-chevron-down" style="margin-right:10px;color:#bbb;font-size:16px"></i>
  </div>
  <div style="color:#666;width:100%;font-size:14.5px">
    <div
      style="display:inline-block;margin-right:10px;margin-bottom:3px;height:6px;width:6px;background:#999;border-radius:50%">
    </div>
    La sesión tiene una duración aproximada
  </div>

  <div *ngIf="false">


    <div style="line-height: 1.7;color:#666;font-weight:350;margin-top:10px">
      <div style="width:100%;font-size:14.5px">
        <div
          style="display:inline-block;margin-right:10px;margin-bottom:3px;height:6px;width:6px;background:#999;border-radius:50%">
        </div>
        Corte de cabello clásico o degrade (desde 0 o 0.5) realizado por una barbera profesional, que incluye lavado y
        peinado de cabello, y aplicación de producto si el cliente lo desea.
      </div>
      <div style="width:100%;font-size:14.5px">
        <div
          style="display:inline-block;margin-right:10px;margin-bottom:3px;height:6px;width:6px;background:#999;border-radius:50%">
        </div>
        Perfilado de barba corte o rebaje de barba asesorado, incluye perfilado con navaja, toallas calientes e
        hidratación con aceite.
      </div>
      <div style="width:100%;font-size:14.5px">
        <div
          style="display:inline-block;margin-right:10px;margin-bottom:3px;height:6px;width:6px;background:#999;border-radius:50%">
        </div>
        Masaje relajante craneal se realiza luego de terminar el corte durante el lavado del cabello.
      </div>
    </div>
  </div>

</div>


<div style="width:100%;height:10px;background:whitesmoke">
</div>


<div style="width:100%;display:flex;justify-content:center;margin-bottom:50px;margin-top:20px">
  <div
    style="font-weight:500;font-size:13px;color:white;background:darkorange;display:flex;align-items:center;padding:5px;padding-left:40px;padding-right:15px;border-radius:25px">
    COMPRAR AHORA
    <i class="fas fa-chevron-circle-right" style="color:white;font-size:34px;margin-left:10px"></i>
  </div>
</div>

<div *ngIf="false" style="padding:15px;padding-top:25px;padding-bottom:35px">

  <div style="font-size:16px;color:#444;font-weight:600">
    Notas
  </div>
  <div style="color:#666;font-weight:350;margin-top:10px">
    <div style="width:100%;font-size:14.5px">
      <div
        style="display:inline-block;margin-right:10px;margin-bottom:3px;height:6px;width:6px;background:#999;border-radius:50%">
      </div>
      La sesión tiene una duración aproximada de 60 minutos.
    </div>
    <div style="width:100%;font-size:14.5px">
      <div
        style="display:inline-block;margin-right:10px;margin-bottom:3px;height:6px;width:6px;background:#999;border-radius:50%">
      </div>
      Reservas con al menos 24 horas de anticipación
    </div>
    <div style="width:100%;font-size:14.5px">
      <div
        style="display:inline-block;margin-right:10px;margin-bottom:3px;height:6px;width:6px;background:#999;border-radius:50%">
      </div>
      Validación mobile
    </div>

  </div>
</div>


<div style="width:100%;height:10px;background:whitesmoke">
</div>

<!-- <div style="width:100%;display:flex;justify-content:center;margin-bottom:50px;margin-top:20px">
  <div
    style="font-weight:500;font-size:13px;color:white;background:darkorange;display:flex;align-items:center;padding:5px;padding-left:40px;padding-right:15px;border-radius:25px">
    RESERVAR
    <i class="fas fa-chevron-circle-right" style="color:white;font-size:34px;margin-left:10px"></i>
  </div>
</div> -->