<div style="height:70px"></div>


<div style="padding:15px">

  <div style="width:100%;display:flex;align-items:center;justify-content:space-between">
    <div style="display:flex;align-items:center">
      <img src="https://www.useit.es/sites/default/files/featured-2_0.jpg"
        style="height:80px;width:80px;border-radius:15px;object-fit:cover">
      <div style="display:inline-block;margin-left:20px">
        <div style="font-size:18px;color:#555;font-weight:500">
          Tienda Juan y Daniel
        </div>
        <div style="display:flex;margin-top:2px">
          <i class="fas fa-star" style="font-size:14px;color:gold;margin-right:5px"></i>
          <i class="fas fa-star" style="font-size:14px;color:gold;margin-right:5px"></i>
          <i class="fas fa-star" style="font-size:14px;color:gold;margin-right:5px"></i>
          <i class="fas fa-star" style="font-size:14px;color:whitesmoke;margin-right:5px"></i>
          <i class="fas fa-star" style="font-size:14px;color:whitesmoke;margin-right:5px"></i>
        </div>
        <div style="font-size:15px;margin-top:2px;color:darkorange">
          14 comentarios
        </div>
      </div>
    </div>

    <i class="fas fa-chevron-right" style="color:#bbb;font-size:18px"></i>

  </div>

  <div style="height:50px;border-top:1px solid #eee;margin-top:20px"></div>


  <div style="width:100%;display:flex;justify-content:space-between">
    <div (click)="openPage('nuevo')" style="width:25%;background:#3C495A;border:0px solid #bbb;border-radius:0px;padding:15px">
      <div style="text-align:center">
        <i class="fas fa-plus" style="color:white;font-size:20px;"></i>
        <div style="color:#fff;font-size:15px">
          Nuevo
        </div>
      </div>
    </div>
    <div (click)="openPage('cupones')" style="width:25%;background:#3C495A;border:0px solid #bbb;border-radius:0px;padding:15px">
      <div style="text-align:center">
        <i class="fas fa-ticket-alt" style="color:white;font-size:20px;"></i>
        <div style="color:#fff;font-size:15px">
          Cupones
        </div>
      </div>
    </div>
    <div (click)="openPage('ventas')" style="width:25%;background:#3C495A;border:0px solid #bbb;border-radius:0px;padding:15px">
      <div style="text-align:center">
        <i class="fas fa-chart-line" style="color:white;font-size:20px;"></i>
        <div style="color:#fff;font-size:15px">
          Ventas
        </div>
      </div>
    </div>
  </div>


  <div style="height:60px"></div>

  <div
    style="width:100%;padding:10px;color:white;background:slateblue;font-size:14px;font-weight:450;display:flex;align-items:center;justify-content:center">

    <div style="margin-right:7px">
      <div style="position:relative;border:2px solid #fff;border-radius:4px;height:23px;width:23px">
        <div style="position:absolute;left:5px;top:-5px;background:slateblue;width:10px;height:30px"></div>
        <div style="position:absolute;left:-5px;top:4px;background:slateblue;width:30px;height:10px"></div>
      </div>
    </div>

    LEER CÓDIGO
  </div>


  <div style="height:60px"></div>



  <div
    style="width:100%;padding-top:15px;padding-bottom:0px;display:flex;align-items:center;justify-content:space-between">
    <div>
      <i class="far fa-calendar" style="color:#bbb;font-size:22px"></i>
      <span style="margin-left:20px;color:#777">
        Agenda
      </span>
    </div>
    <i class="fas fa-chevron-right" style="color:#bbb;font-size:18px"></i>
  </div>

  <hr>

  <div
    style="width:100%;padding-top:0px;padding-bottom:10px;display:flex;align-items:center;justify-content:space-between">
    <div>
      <svg-icon src="assets/money-bag.svg" [svgStyle]="{ 'width.px':25,'fill':'#bbb', 'height.px':25 }">
      </svg-icon>
      <span style="margin-left:20px;color:#777">
        Beneficio
      </span>
    </div>
    <i class="fas fa-chevron-right" style="color:#bbb;font-size:18px"></i>
  </div>


</div>