
<div style="height:70px"></div>


<div style="padding:15px">


      <div
      style="width:100%;padding-top:15px;padding-bottom:10px;display:flex;align-items:center;justify-content:space-between">
      <div style="display:flex;align-items:center">
        <img src="https://www.useit.es/sites/default/files/featured-2_0.jpg"
          style="height:70px;width:70px;object-fit:cover">
        <div style="display:inline-block;margin-left:20px;color:#444">
          Simon Bolivar 802
          <div style="color:orange;font-size:15px">
            $14.900
            <span style="text-decoration: line-through;margin-left:5px;color:#999;font-size:13px">
              $17.500
            </span>
          </div>
          <div
            style="margin-top:3px;display:block;padding-left:15px;padding-right:15px;border-radius:15px;background:darkorange">
            <div style="color:white;font-size:16px">
              Comprar ahora
            </div>
          </div>
        </div>
      </div>
      <i class="fas fa-chevron-right" style="color:#bbb;font-size:18px"></i>
    </div>


    <div
      style="width:100%;padding-top:15px;padding-bottom:10px;display:flex;align-items:center;justify-content:space-between">
      <div style="display:flex;align-items:center">
        <img src="https://www.useit.es/sites/default/files/featured-2_0.jpg"
          style="height:70px;width:70px;object-fit:cover">
        <div style="display:inline-block;margin-left:20px;color:#444">
          Simon Bolivar 802
          <div style="color:orange;font-size:15px">
            $14.900
            <span style="text-decoration: line-through;margin-left:5px;color:#999;font-size:13px">
              $17.500
            </span>
          </div>
          <div
            style="margin-top:3px;display:block;padding-left:15px;padding-right:15px;border-radius:15px;background:darkorange">
            <div style="color:white;font-size:16px">
              Comprar ahora
            </div>
          </div>
        </div>
      </div>
      <i class="fas fa-chevron-right" style="color:#bbb;font-size:18px"></i>
    </div>


  </div>