<div style="height:140px"></div>


<div *ngFor="let tienda of tiendas" (click)="openContent(tienda)" style="margin-top:20px;margin-left:15px;margin-right:15px">
    <!-- [ngStyle]="{'font-size': isFb ? '17px'; ''}" -->
  <div  style="font-size:17px;font-weight:600;color:#444">
    {{tienda.descripcion}}
  </div>

  <div style="display:flex;align-items:center">
    <div style="display:flex;margin-top:2px">
      <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 1 ? 'gold':'whitesmoke'}" style="font-size:14px;margin-right:5px"></i>
      <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 2 ? 'gold':'whitesmoke'}" style="font-size:14px;margin-right:5px"></i>
      <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 3 ? 'gold':'whitesmoke'}" style="font-size:14px;margin-right:5px"></i>
      <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 4 ? 'gold':'whitesmoke'}" style="font-size:14px;margin-right:5px"></i>
      <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 5 ? 'gold':'whitesmoke'}" style="font-size:14px;margin-right:5px"></i>
    </div>
    <div style="font-size:15px;margin-left:14px;color:darkorange">
      {{tienda.comentarios}} comentarios
    </div>
  </div>

  <div style="color:#777;font-size:15px">
    {{tienda.nombre}}
    <svg-icon *ngIf="tienda.isCupon" src="assets/coupon.svg" [svgStyle]="{ 'width.px':15,'fill':'gold', 'height.px':15, 'margin-right.px':5 }">
    </svg-icon>
    <svg-icon *ngIf="tienda.isBeneficio" src="assets/money-bag.svg"
      [svgStyle]="{ 'width.px':15,'fill':'sandybrown', 'height.px':15, 'margin-right.px':5 }"></svg-icon>
  </div>

  <div style="width:100%;display:flex;align-items:center;justify-content:space-between">
    <img *ngFor="let img of tienda.tresImgs" [src]="img.url"
      style="height:110px;width:32%;object-fit:cover">
  </div>
</div>



<div *ngIf="showFlecha" style="position:fixed;z-index:999;right:25px;bottom:60px">
  <div style="background:white;height:40px;width:40px;border-radius:50%;position:relative">
      <i (click)="subir()" class="fas fa-arrow-circle-up" style="position:absolute;top:-3px;left:-3px;color:#444;font-size:46px"></i>
  </div>
</div>

