<img src="https://web-uploads.myfave.gdn/uploads/banners/2ab7ed2d-bed0-4567-ba9e-55d06742ca5c.png" style="width:100%;height:80px;object-fit:cover">
<div style="display:flex;align-items:center;justify-content:space-around;height:100px">
  <div style="font-size:30px">
    Joopiter
  </div>
  <div style="border-bottom:1px solid #bbb;padding-bottom:3px">
    Valdivia
    <i class="fas fa-map-marker-alt" style="color:lightsalmon;font-size:22px"></i>

  </div>
  <div style="display:flex;">
      <div style="height:40px;width:400px;border-radius:0;padding:7px;padding-left:15px;color:#999;border:1px solid #eee;background:white">
          Buscar...
        </div>

        <div style="height:40px;background:darkorange;padding:7px;padding-left:20px;padding-right:20px">
            <i class="fas fa-search" style="color:white;font-size:18px"></i>
        </div>

  </div>
  
  <div></div>
  <div>
    Registrarse
  </div>
</div>