<div (click)="_control.showInfo = false"
  style="position:fixed;z-index:999;left:0px;top:0px;width:100%;height:100%;background:rgba(31, 31, 31, 0.5)">
  <div style="width:100%;height:30%">
  </div>
  <div style="overflow:auto;height:70%;width:100%;background:white;padding:20px;border-radius: 20px 20px 0px 0px">

    <div style="margin-top:20px;color:#444;font-size:18px">
      Servicios
    </div>
    <div style="width:100%;display:flex;align-items:flex-start;flex-wrap:wrap">
      <div style="margin-top:5px;width:50%;display:flex;align-items:flex-start">
        <i class="far fa-check-circle" style="font-size:16px;color:#bbb;margin-right:5px"></i>
        <div style="font-size:13px;color:#777">
          Acepta mascotas
        </div>
      </div>
      <div style="margin-top:5px;width:50%;display:flex;align-items:flex-start">
        <i class="far fa-check-circle" style="font-size:16px;color:#bbb;margin-right:5px"></i>
        <div style="font-size:13px;color:#777">
          Puedes leer revistas
        </div>
      </div>

      <div style="margin-top:5px;width:50%;display:flex;align-items:flex-start">
        <i class="far fa-check-circle" style="font-size:16px;color:#bbb;margin-right:5px"></i>
        <div style="font-size:13px;color:#777">
          Wi-Fi Gratis
        </div>
      </div>
    </div>



    <div style="margin-top:20px;color:#444;font-size:18px">
      Beneficio
    </div>
    <div style="font-size:14px;color:#777">
      Disfrute de un 30% de descuento en su primera visita a la tienda, como un proyecto de uñas y belleza (solo los
      nuevos huéspedes pueden usar la tienda por primera vez, este evento no se comparte con otros eventos).
    </div>


    <div style="margin-top:20px;color:#444;font-size:18px">
      Horario
    </div>
    <div style="font-size:14px;color:#777">
      Lunes 10:30 - 18:30
    </div>
    <div style="font-size:14px;color:#777">
      Martes 10:30 - 18:30
    </div>
    <div style="font-size:14px;color:#777">
      Miércoles 10:30 - 18:30
    </div>
    <div style="font-size:14px;color:#777">
      Jueves 10:30 - 18:30
    </div>
    <div style="font-size:14px;color:#777">
      Viernes 10:30 - 18:30
    </div>
    <div style="font-size:14px;color:#777">
      Sábado 10:30 - 18:30
    </div>
    <div style="font-size:14px;color:#777">
      Domingo 10:30 - 18:30
    </div>
  </div>
</div>