<div style="height:20px"></div>
<div class="container">
  <div class="row">
    <div class="col-3">
      <div style="">
        <div
          style="border-radius:0px 0px 0 0;font-weight:500;font-size:18px;background:darkorange;color:white;width:100%;padding:8px;text-align:center">
          Todas las secciones
        </div>
        <div style="border:1px solid #eee;color:#999;padding:15px;padding-left:20px;background:white">
          <!-- <i class="fas fa-heart"></i> -->
          <div style="margin-top:0px;">
            <div style="display:flex;justify-content:space-between">
              <div>
                <!-- <i class="fas fa-female" style="color:pink;font-size:22px"></i> -->
                <div style="color:#666;margin-left:8px;display:inline-block;font-weight:500">
                  Belleza
                </div>
              </div>
              <i class="fas fa-angle-right" style="color:#777;font-size:18px"></i>
            </div>
            <div style="margin-left:10px;font-size:14px">
              Rostro - piel - manos - pies - masaje - cuerpo - etc
            </div>
          </div>

          <div style="margin-top:20px;">
            <div style="display:flex;justify-content:space-between">
              <div>
                <!-- <i class="fas fa-cut" style="color:pink;font-size:22px"></i> -->
                <div style="color:#666;margin-left:8px;display:inline-block;font-weight:500">
                  Estilo
                </div>
              </div>
              <i class="fas fa-angle-right" style="color:#777;font-size:18px"></i>
            </div>
            <div style="margin-left:10px;font-size:14px">
              Uñas - cabello - barbería - tatuajes
            </div>
          </div>

          <div style="margin-top:20px;">
            <div style="display:flex;justify-content:space-between">
              <div>
                <!-- <i class="fas fa-dog" style="color:pink;font-size:22px"></i> -->
                <div style="color:#666;margin-left:8px;display:inline-block;font-weight:500">
                  Mascotas
                </div>
              </div>
              <i class="fas fa-angle-right" style="color:#777;font-size:18px"></i>
            </div>
            <div style="margin-left:10px;font-size:14px">
              Clínica - paseo - juguetes - limpieza
            </div>
          </div>

          <div style="margin-top:20px;">
            <div style="display:flex;justify-content:space-between">
              <div>
                <!-- <i class="fas fa-ship" style="color:pink;font-size:22px"></i> -->
                <div style="color:#666;margin-left:8px;display:inline-block;font-weight:500">
                  Recreación
                </div>
              </div>
              <i class="fas fa-angle-right" style="color:#777;font-size:18px"></i>
            </div>
            <div style="margin-left:10px;font-size:14px">
              Clínica - paseo - juguetes - limpieza
            </div>
          </div>


        </div>
      </div>
    </div>
    <div class="col-9">
      <div style="color:#555;width:100%;display:flex;justify-content:space-around">

        <div style="margin-right:20px">
          Ofertas Hot
        </div>
        |

        <div style="margin-right:20px">
          Popular
        </div>
        |

        <div style="margin-right:20px">
          Popu Hot
        </div>
        |

        <div style="margin-right:20px">
          Mas vendido
        </div>

      </div>

      <div style="height:20px"></div>

      <img
        src="https://image-assets.access.myfave.gdn/attachments/a1892ef4264fbbe37fea82c728ea8f45527efc8a/store/fill/580/360/6e28e95952d323a78d80c10a49454b688c465048dc2bc613589bc7c7c030/activity_image.jpg"
        style="">
    </div>


    <div *ngIf="false" class="col-12">
        <div style="height:30px"></div>
        <h5 style="color:darkturquoise">Servicios a domicilio</h5>
      <div style="margin-top:0px;background: white;padding:0px;display:flex;align-items:center">

        <!-- <img src="https://res.cloudinary.com/ddon9fx1n/image/upload/v1558941690/landing-4/banner03.jpg" style="height:150px"> -->
        <div *ngIf="true" style="border-radius:5px;display:flex;align-items:center;padding:30px;padding-left:40px;padding-right:40px;border:0px solid #eee;border-right:0px solid #eee">
          <i class="fas fa-dog" style="color:#FBB03B;font-size:32px"></i>
          <div style="margin-left:30px;font-size:18px">
              <span style="color:#777">
                  Paseo para mascotas
              </span>
              <span style="color:#777">
                y veras
              </span>
              <div style="color:#999;font-size:13px">
                ¡Solicita uno de nuestro paseadores de mascotas!
              </div>
              <div style="display:inline-block;margin-left:20px;padding:5px;font-size:14px;background:salmon;color:white;border-radius:5px">
                  Pedir ahora
                </div>
          </div>
          <!-- <div style="margin-left:20px;padding:5px;background:salmon;color:white;border-radius:5px">
            Pedir
          </div> -->
          <!-- <i class="fas fa-angle-right" style="margin-left:45px;color:#777;font-size:18px"></i> -->
        </div>

        <div *ngIf="false" style="width:350px;border-radius:5px;margin-left:30px;display:flex;padding:20px;border:1px solid #eee">
            <i class="fas fa-female" style="color:#29ABE2;font-size:32px"></i>
            <div style="margin-left:20px;font-size:18px">
                <span style="color:#29ABE2">
                    Panadería a domicilio
                </span>
                <span style="color:#777">
                    es bueno
                  </span>
                <div style="color:#999;font-size:14px">
                  Pide pan tan temprano como desees!
                </div>
            </div>         
          </div>

      </div>

      </div>



    <div class="col-12">

      <div style="height:30px"></div>
      <h5>Lo mejor de Estilo</h5>


      <div style="background:white;padding:30px;">
        <div style="display:flex;color:#999;justify-content:space-between">
          <div>
            <div
              style="display:inline-block;margin-right:30px;padding-right:4px;padding-left:4px;border:1px solid #eee;font-size:14px">
              Cabello
            </div>
            <div
              style="display:inline-block;margin-right:30px;padding-right:4px;padding-left:4px;border:1px solid #eee;font-size:14px">
              Arte en uñas
            </div>
            <div
              style="display:inline-block;margin-right:30px;padding-right:4px;padding-left:4px;border:1px solid #eee;font-size:14px">
              Estudio de tatuajes
            </div>
            <div
              style="display:inline-block;margin-right:30px;padding-right:4px;padding-left:4px;border:1px solid #eee;font-size:14px">
              Barbería
            </div>
          </div>
          <div style="color:teal">
            Ver todo
            <i class="fas fa-angle-right" style="margin-left:5px;color:#777;font-size:18px"></i>
          </div>
        </div>
        <!-- <div style="height:20px"></div> -->
        <hr>
        <div style="display:flex;justify-content:space-between">

          <div *ngFor="let tienda of estilo" style="width:18%;border:1px solid #eee">
            <div style="position:relative">
                <img [src]="tienda.img" style="height:120px;width:100%;object-fit:cover">
              <div style="padding-right:3px;position: absolute;top:10px;left:0px;color:white;background:#999;">
                Reservas
              </div>
              <div style="padding-right:3px;position: absolute;top:40px;left:0px;color:white;background:pink;">
                  Top 5
                </div>
            </div>

            <div style="margin-top:10px;padding:5px">
              <div style="font-weight:500;display:flex">
                <div style="width:75%;height:30px;overflow:hidden">
                  {{tienda.nombre}}
                </div>
                <svg-icon *ngIf="tienda.isCoupon" src="assets/coupon.svg"
                  [svgStyle]="{ 'width.px':15,'fill':'gold', 'height.px':15, 'margin-right.px':5 }">
                </svg-icon>
                <svg-icon *ngIf="tienda.isBeneficio" src="assets/money-bag.svg"
                  [svgStyle]="{ 'width.px':15,'fill':'sandybrown', 'height.px':15, 'margin-right.px':5 }">
                </svg-icon>
              </div>
              <div style="height:60px;overflow:hidden;color:#999;font-size:13px">
                {{tienda.text}}
                  <!-- ✨🌷 Elegantes ideas para tus próximas uñas! Me encantan!✨🌺 -->
              </div>
              <div style="display:flex;align-items:center">
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 1 ? 'orange':'#eee'}"
                  style="font-size:13px;margin-right:5px"></i>
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 2 ? 'orange':'#eee'}"
                  style="font-size:13px;margin-right:5px"></i>
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 3 ? 'orange':'#eee'}"
                  style="font-size:13px;margin-right:5px"></i>
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 4 ? 'orange':'#eee'}"
                  style="font-size:13px;margin-right:5px"></i>
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 5 ? 'orange':'#eee'}"
                  style="font-size:13px;margin-right:5px"></i>
                <div style="color:#999;font-size:13px">({{tienda.starts}})</div>
              </div>
              <!-- <div style="color:#999;font-size:13px">
                CABELLO ESTILO FUENTE
              </div> -->
              <!-- <div *ngIf="tienda.isReserva" style="color:salmon;font-size:14px">
                Reservas
              </div> -->
              <div style="margin-top:10px;padding:5px;font-size:14px;background:white;border:1px solid #eee;color:#777;border-radius:5px">
                  Ver tienda
                </div>
              <!-- <div style="color:#999;font-size:12px">
                  CABELLO CORTE BELLEZA
                </div>
              <div style="font-size:13px;color:#999">
                <i class="fas fa-map-marker-alt" style="color:#bbb;font-size:14px;margin-right:5px"></i>
                Av. Ramon Picarte
              </div> -->
              <!-- <div style="font-size:13px;color:#999">
                <i class="far fa-clock" style="color:#bbb;font-size:14px;margin-right:5px"></i>
                10:30 - 18:40
              </div> -->
            </div>
          </div>

        </div>
      </div>



      <div style="height:30px"></div>
      <h5>¡Servicios a Domicilio!</h5>
     

      <div style="background:white;padding:30px;">
        <div style="display:flex;color:#888;justify-content:space-between">
          <div>
              <div
              style="display:inline-block;margin-right:30px;padding-right:4px;padding-left:4px;border:1px solid #eee;font-size:14px">
              Panadería
            </div>
            <div
              style="display:inline-block;margin-right:30px;padding-right:4px;padding-left:4px;border:1px solid #eee;font-size:14px">
              Mascotas
            </div>
            <div
              style="display:inline-block;margin-right:30px;padding-right:4px;padding-left:4px;border:1px solid #eee;font-size:14px">
              Automovil
            </div>
            <div
              style="display:inline-block;margin-right:30px;padding-right:4px;padding-left:4px;border:1px solid #eee;font-size:14px">
              Aseo
            </div>
            <div
            style="display:inline-block;margin-right:30px;padding-right:4px;padding-left:4px;border:1px solid #eee;font-size:14px">
            Reparación
          </div>
          </div>
          <div style="color:teal">
            Ver todo
            <i class="fas fa-angle-right" style="margin-left:5px;color:#777;font-size:18px"></i>
          </div>
        </div>
        <hr>
        <div style="display:flex;justify-content:space-between">

          <div *ngFor="let tienda of servicios" style="width:18%;border:1px solid #eee">
            <img [src]="tienda.img" style="border-radius:0px;height:120px;width:100%;object-fit:cover">

            <div style="margin-top:10px;padding:5px">
              <div style="font-weight:500;display:flex">
                <div style="width:75%;height:30px;overflow:hidden">
                  {{tienda.nombre}}
                </div>
                <svg-icon *ngIf="tienda.isCoupon" src="assets/coupon.svg"
                  [svgStyle]="{ 'width.px':15,'fill':'gold', 'height.px':15, 'margin-right.px':5 }">
                </svg-icon>
                <svg-icon *ngIf="tienda.isBeneficio" src="assets/money-bag.svg"
                  [svgStyle]="{ 'width.px':15,'fill':'sandybrown', 'height.px':15, 'margin-right.px':5 }">
                </svg-icon>
              </div>
              <div style="display:flex;align-items:center">
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 1 ? 'orange':'#eee'}"
                  style="font-size:14px;margin-right:5px"></i>
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 2 ? 'orange':'#eee'}"
                  style="font-size:14px;margin-right:5px"></i>
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 3 ? 'orange':'#eee'}"
                  style="font-size:14px;margin-right:5px"></i>
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 4 ? 'orange':'#eee'}"
                  style="font-size:14px;margin-right:5px"></i>
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 5 ? 'orange':'#eee'}"
                  style="font-size:14px;margin-right:5px"></i>
                <div style="color:#999;font-size:14px">({{tienda.starts}})</div>
              </div>
              <!-- <div *ngIf="tienda.isReserva" style="text-align:left;color:salmon;font-size:14px">
                Reservas
              </div> -->
              <div style="display:flex;justify-content:space-between;align-items:center">
                <div style="color:#555">
                  $4.000
                </div>
                  <div style="padding:5px;font-size:14px;background:white;border:1px solid salmon;color:salmon;border-radius:5px">
                      Pedir ahora
                    </div>
              </div>
             
            </div>
          </div>

        </div>
      </div>





      <div style="height:30px"></div>
      <h5>Lo Mejor de Belleza</h5>

      <div style="background:white;padding:30px;">
        <div style="display:flex;color:#888;justify-content:space-between">
          <div>
            <div style="display:inline-block;margin-right:30px">
              Peluquería
            </div>
            <div style="display:inline-block;margin-right:30px">
              Arte en uñas
            </div>
            <div style="display:inline-block;margin-right:30px">
              Estudio de tatuajes
            </div>
            <div style="display:inline-block;margin-right:30px">
              Barbería
            </div>
          </div>
          <div style="color:teal">
            Ver todo
            <i class="fas fa-angle-right" style="margin-left:5px;color:#777;font-size:18px"></i>
          </div>
        </div>
        <hr>
        <div style="display:flex;justify-content:space-between">

          <div *ngFor="let tienda of belleza" style="width:18%">
            <img [src]="tienda.img" style="height:120px;width:170px;object-fit:cover">

            <div>
              <div style="font-weight:500;display:flex">
                <div style="width:75%;height:30px;overflow:hidden">
                  {{tienda.nombre}}
                </div>
                <svg-icon *ngIf="tienda.isCoupon" src="assets/coupon.svg"
                  [svgStyle]="{ 'width.px':15,'fill':'gold', 'height.px':15, 'margin-right.px':5 }">
                </svg-icon>
                <svg-icon *ngIf="tienda.isBeneficio" src="assets/money-bag.svg"
                  [svgStyle]="{ 'width.px':15,'fill':'sandybrown', 'height.px':15, 'margin-right.px':5 }">
                </svg-icon>
              </div>
              <div style="display:flex;align-items:center">
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 1 ? 'orange':'#eee'}"
                  style="font-size:14px;margin-right:5px"></i>
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 2 ? 'orange':'#eee'}"
                  style="font-size:14px;margin-right:5px"></i>
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 3 ? 'orange':'#eee'}"
                  style="font-size:14px;margin-right:5px"></i>
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 4 ? 'orange':'#eee'}"
                  style="font-size:14px;margin-right:5px"></i>
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 5 ? 'orange':'#eee'}"
                  style="font-size:14px;margin-right:5px"></i>
                <div style="color:#999;font-size:14px">({{tienda.starts}})</div>
              </div>
              <div *ngIf="tienda.isReserva" style="color:salmon;font-size:14px">
                Reservas
              </div>
            </div>
          </div>

        </div>
      </div>




      <div style="height:30px"></div>
      <h5>Lo Mejor de Mascotas</h5>

     

      <div style="background:white;padding:30px;">
          <div *ngIf="false" style="border-radius:5px;display:flex;align-items:center;padding:30px;padding-left:40px;padding-right:40px;border:0px solid #eee;border-right:0px solid #eee">
              <i class="fas fa-dog" style="color:#FBB03B;font-size:32px"></i>
              <div style="margin-left:30px;font-size:18px">
                  <span style="color:#777">
                      Paseo de mascotas
                  </span>
                  <div style="color:#999;font-size:13px">
                    Solicita uno de nuestro paseadores de mascotas!
                  </div>
              </div>
              <div style="margin-left:20px;padding:5px;background:salmon;color:white;border-radius:5px">
                Pedir
              </div>
              <!-- <i class="fas fa-angle-right" style="margin-left:45px;color:#777;font-size:18px"></i> -->
            </div>
        <div style="display:flex;color:#888;justify-content:space-between">
          <div>
            <div style="display:inline-block;margin-right:30px">
              Peluquería
            </div>
            <div style="display:inline-block;margin-right:30px">
              Arte en uñas
            </div>
            <div style="display:inline-block;margin-right:30px">
              Estudio de tatuajes
            </div>
            <div style="display:inline-block;margin-right:30px">
              Barbería
            </div>
          </div>
          <div style="color:teal">
            Ver todo
            <i class="fas fa-angle-right" style="margin-left:5px;color:#777;font-size:18px"></i>
          </div>
        </div>
        <hr>
        <div style="display:flex;justify-content:space-between">

          <div *ngFor="let tienda of mascotas" style="width:18%">
            <img [src]="tienda.img" style="border-radius:0px;height:120px;width:170px;object-fit:cover">

            <div>
              <div style="font-weight:500;display:flex">
                <div style="width:75%;height:30px;overflow:hidden">
                  {{tienda.nombre}}
                </div>
                <svg-icon *ngIf="tienda.isCoupon" src="assets/coupon.svg"
                  [svgStyle]="{ 'width.px':15,'fill':'gold', 'height.px':15, 'margin-right.px':5 }">
                </svg-icon>
                <svg-icon *ngIf="tienda.isBeneficio" src="assets/money-bag.svg"
                  [svgStyle]="{ 'width.px':15,'fill':'sandybrown', 'height.px':15, 'margin-right.px':5 }">
                </svg-icon>
              </div>
              <div style="display:flex;align-items:center">
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 1 ? 'orange':'#eee'}"
                  style="font-size:14px;margin-right:5px"></i>
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 2 ? 'orange':'#eee'}"
                  style="font-size:14px;margin-right:5px"></i>
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 3 ? 'orange':'#eee'}"
                  style="font-size:14px;margin-right:5px"></i>
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 4 ? 'orange':'#eee'}"
                  style="font-size:14px;margin-right:5px"></i>
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 5 ? 'orange':'#eee'}"
                  style="font-size:14px;margin-right:5px"></i>
                <div style="color:#999;font-size:14px">({{tienda.starts}})</div>
              </div>
              <div *ngIf="tienda.isReserva" style="text-align:left;color:salmon;font-size:14px">
                Reservas
              </div>
              <!-- <div *ngIf="tienda.isReserva" style="display:inline-block;margin-left:0px;padding:5px;font-size:14px;background:salmon;color:white;border-radius:5px">
                  Pedir ahora
                </div> -->
            </div>
          </div>

        </div>
      </div>






      <!-- <div style="height:30px"></div>
      <h5>¡Servicios a Domicilio!</h5>
     

      <div style="background:white;padding:30px;">
        <div style="display:flex;color:#888;justify-content:space-between">
          <div>
              <div
              style="display:inline-block;margin-right:30px;padding-right:4px;padding-left:4px;border:1px solid #eee;font-size:14px">
              Panadería
            </div>
            <div
              style="display:inline-block;margin-right:30px;padding-right:4px;padding-left:4px;border:1px solid #eee;font-size:14px">
              Mascotas
            </div>
            <div
              style="display:inline-block;margin-right:30px;padding-right:4px;padding-left:4px;border:1px solid #eee;font-size:14px">
              Automovil
            </div>
            <div
              style="display:inline-block;margin-right:30px;padding-right:4px;padding-left:4px;border:1px solid #eee;font-size:14px">
              Aseo
            </div>
            <div
            style="display:inline-block;margin-right:30px;padding-right:4px;padding-left:4px;border:1px solid #eee;font-size:14px">
            Reparación
          </div>
          </div>
          <div style="color:teal">
            Ver todo
            <i class="fas fa-angle-right" style="margin-left:5px;color:#777;font-size:18px"></i>
          </div>
        </div>
        <hr>
        <div style="display:flex;justify-content:space-between">

          <div *ngFor="let tienda of servicios" style="width:18%">
            <img [src]="tienda.img" style="border-radius:0px;height:120px;width:170px;object-fit:cover">

            <div>
              <div style="font-weight:500;display:flex">
                <div style="width:75%;height:30px;overflow:hidden">
                  {{tienda.nombre}}
                </div>
                <svg-icon *ngIf="tienda.isCoupon" src="assets/coupon.svg"
                  [svgStyle]="{ 'width.px':15,'fill':'gold', 'height.px':15, 'margin-right.px':5 }">
                </svg-icon>
                <svg-icon *ngIf="tienda.isBeneficio" src="assets/money-bag.svg"
                  [svgStyle]="{ 'width.px':15,'fill':'sandybrown', 'height.px':15, 'margin-right.px':5 }">
                </svg-icon>
              </div>
              <div style="display:flex;align-items:center">
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 1 ? 'orange':'#eee'}"
                  style="font-size:14px;margin-right:5px"></i>
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 2 ? 'orange':'#eee'}"
                  style="font-size:14px;margin-right:5px"></i>
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 3 ? 'orange':'#eee'}"
                  style="font-size:14px;margin-right:5px"></i>
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 4 ? 'orange':'#eee'}"
                  style="font-size:14px;margin-right:5px"></i>
                <i class="fas fa-star" [ngStyle]="{'color': tienda.startAvg >= 5 ? 'orange':'#eee'}"
                  style="font-size:14px;margin-right:5px"></i>
                <div style="color:#999;font-size:14px">({{tienda.starts}})</div>
              </div>
              <div style="display:inline-block;margin-left:90px;padding:5px;font-size:14px;background:salmon;color:white;border-radius:5px">
                  Pedir ahora
                </div>
            </div>
          </div>

        </div>
      </div> -->








      <div *ngIf="false" style="height:30px"></div>
      <!-- <h5 style="color:darkturquoise">Servicios a domicilio</h5> -->
      <h5 *ngIf="false">Servicios a domicilio</h5>

      <div *ngIf="false" style="display:flex;align-items:center">

          <div *ngIf="true" style="margin-right:30px;border-radius:5px;display:flex;align-items:center;padding:30px;padding-left:40px;padding-right:40px;border:0px solid #eee;border-right:0px solid #eee">
              <i class="fas fa-dog" style="color:#FBB03B;font-size:32px"></i>
              <div style="margin-left:30px;font-size:18px">
                  <span style="color:#777">
                      Paseo para mascotas
                  </span>
                  <div style="color:#999;font-size:13px">
                    ¡Solicita uno de nuestro paseadores de mascotas!
                  </div>
                  <div style="display:inline-block;margin-left:20px;padding:5px;font-size:14px;background:salmon;color:white;border-radius:5px">
                      Pedir ahora
                    </div>
              </div>
            </div>

            
          <div *ngIf="true" style="margin-right:30px;border-radius:5px;display:flex;align-items:center;padding:30px;padding-left:40px;padding-right:40px;border:0px solid #eee;border-right:0px solid #eee">
              <i class="fas fa-dog" style="color:#FBB03B;font-size:32px"></i>
              <div style="margin-left:30px;font-size:18px">
                  <span style="color:#777">
                      Paseo para mascotas
                  </span>
                  <div style="color:#999;font-size:13px">
                    ¡Solicita uno de nuestro paseadores de mascotas!
                  </div>
                  <div style="display:inline-block;margin-left:20px;padding:5px;font-size:14px;background:salmon;color:white;border-radius:5px">
                      Pedir ahora
                    </div>
              </div>
            </div>

            
        

      </div>

      


    </div>

    <div style="height:100px;width:100%"></div>

  </div>
</div>