.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

.scrolling-wrapper .card {
    display: inline-block;
}

.card {
    border:0px solid #eee;
    border-radius: 0px;
    width: 80px;
    padding: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align:center;
    color: #555;
}

.activeDay {
    background: orange;
    color: white;
    font-weight: 500;
}

.activeDay2 {
    background: lightslategray;
    color: white;
    font-weight: 500;
}

.activeDot {
    background:dodgerblue;
}

.scrolling-wrapper {
    width: 100%;
    -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}


  