<div style="height:70px"></div>

<div style="padding:15px">

  <div style="width:100%;display:flex;align-items:center">
    <img src="https://www.useit.es/sites/default/files/featured-2_0.jpg"
      style="height:80px;width:80px;border-radius:15px;object-fit:cover">
    <div style="display:inline-block;margin-left:20px">
      <div style="font-size:18px;color:#555;font-weight:500">
        Tienda Juan y Daniel
      </div>
      <div style="display:flex;margin-top:2px">
        <i class="fas fa-star" style="font-size:14px;color:gold;margin-right:5px"></i>
        <i class="fas fa-star" style="font-size:14px;color:gold;margin-right:5px"></i>
        <i class="fas fa-star" style="font-size:14px;color:gold;margin-right:5px"></i>
        <i class="fas fa-star" style="font-size:14px;color:whitesmoke;margin-right:5px"></i>
        <i class="fas fa-star" style="font-size:14px;color:whitesmoke;margin-right:5px"></i>
      </div>
      <div style="font-size:15px;margin-top:2px;color:darkorange">
        14 comentarios
      </div>
    </div>
  </div>


  <div style="margin-top:15px;width:100%;display:flex;align-items:center">
    <div style="width:50%;border-right:1px solid #eee;display:flex;align-items:center">
      <i class="far fa-clock" style="color:#bbb;font-size:20px"></i>
      <div style="margin-left:10px;color:#999;font-size:14px">
        10:00 - 18:30
        <div>
          horario
        </div>
      </div>
    </div>

    <div style="width:50%;display:flex;align-items:center">
      <i class="fab fa-whatsapp" style="margin-left:10px;color:limegreen;font-size:22px"></i>
      <div style="margin-left:10px;color:#999;font-size:14px">
        +56 9 76812201
      </div>
    </div>
  </div>

  <div
    style="width:100%;padding-top:15px;padding-bottom:10px;display:flex;align-items:center;justify-content:space-between">
    <div>
      <i class="fas fa-map-marker-alt" style="color:#bbb;font-size:18px"></i>
      <span style="margin-left:20px;color:#999">
        Simon Bolivar 802
      </span>
    </div>
    <i class="fas fa-chevron-right" style="color:#bbb;font-size:18px"></i>
  </div>

  <hr>

  <div style="width:100%;display:flex;align-items:flex-start;flex-wrap:wrap">
    <div style="margin-top:5px;width:50%;display:flex;align-items:flex-start">
      <i class="far fa-check-circle" style="font-size:16px;color:#bbb;margin-right:5px"></i>
      <div style="font-size:13px;color:#999">
        Acepta mascotas
      </div>
    </div>
    <div style="margin-top:5px;width:50%;display:flex;align-items:flex-start">
      <i class="far fa-check-circle" style="font-size:16px;color:#bbb;margin-right:5px"></i>
      <div style="font-size:13px;color:#999">
        Puedes leer revistas
      </div>
    </div>

    <div style="margin-top:5px;width:50%;display:flex;align-items:flex-start">
      <i class="far fa-check-circle" style="font-size:16px;color:#bbb;margin-right:5px"></i>
      <div style="font-size:13px;color:#999">
        Wi-Fi Gratis
      </div>
    </div>
  </div>
</div>


<div style="width:100%;height:10px;background:whitesmoke"></div>


<div style="padding:15px">
  <div style="font-size:16px;color:#555;font-weight:600">
    Promociones
  </div>
  <div
    style="width:100%;padding-top:15px;padding-bottom:10px;display:flex;align-items:center;justify-content:space-between">
    <div style="display:flex;align-items:center">
      <img src="https://www.useit.es/sites/default/files/featured-2_0.jpg"
        style="height:70px;width:70px;object-fit:cover">
      <div style="display:inline-block;margin-left:20px;color:#444">
        Simon Bolivar 802
        <div style="color:orange;font-size:15px">
          $14.900
          <span style="text-decoration: line-through;margin-left:5px;color:#999;font-size:13px">
            $17.500
          </span>
        </div>
        <div
          style="margin-top:3px;display:block;padding-left:15px;padding-right:15px;border-radius:15px;background:darkorange">
          <div style="color:white;font-size:16px">
            Comprar ahora
          </div>
        </div>
      </div>
    </div>
    <i class="fas fa-chevron-right" style="color:#bbb;font-size:18px"></i>
  </div>
</div>


<div style="width:100%;height:10px;background:whitesmoke"></div>


<div style="padding:15px">
  <div style="font-size:16px;color:#555;font-weight:600">
    Comentarios (14)
  </div>

  <div style="height:15px"></div>


  <div style="display:flex;align-items:center">
    <img src="https://www.useit.es/sites/default/files/featured-2_0.jpg"
      style="border:1px solid #eee;height:35px;width:35px;border-radius:50%;object-fit:cover">
    <div style="margin-left:5px">
      <div style="color:#444;font-weight:500;font-size:14px">
        Oscar Garcia
      </div>
      <div style="display:flex;align-items:center">
        <i class="fas fa-star" style="font-size:12px;color:darkorange;"></i>
        <div style="margin-right:5px;color:darkorange;font-size:14px;margin-left:3px">
          3
        </div>
        <div style="height:5px;width:5px;background:#bbb;margin-right:5px;border-radius:50%"></div>
        <div style="color:#999;font-size:14px;margin-right:5px">
          5 Reseñas
        </div>
        <div style="height:5px;width:5px;background:#bbb;margin-right:5px;border-radius:50%"></div>
        <div style="color:#999;font-size:14px;margin-right:5px">
          hace 3 horas
        </div>
      </div>
    </div>
  </div>

  <div style="color:#555;font-size:14.5px">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, error! Error totam aut dolore, eligendi dolores
    sint, dolorum eaque ea saepe mollitia, fugiat sed architecto veniam natus cum quia asperiores.
  </div>



</div>